.code-render-container {
  border: none;
}

.MessageContainer .Bubble.text > p {
  color: black;
}

.code-render-container .icon {
  cursor: pointer;
  color: darkorange;
  opacity: 0.8;
}

.code-render-container span {
  color: darkorange;
  opacity: 0.8;
}
